* {
  font-family: 'Nunito', sans-serif;
  color: #292929;
}

/* Center align content on narrow screens */
@media (max-width: 575px) {
  [class*="col-"] {
      text-align: center;
  }
}

/* Wide screens */
.with-margin-standard {
  margin-bottom: 64px;
}

.with-margin-compact {
  margin-bottom: 12px;
}

/* Narrow screens */
@media (max-width: 575px) {
  [class*="with-margin-standard"] {
      margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  [class*="with-margin-compact"] {
      margin-bottom: 18px;
  }
}

html, body {
  background-color: #f2f2f2;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  font-weight: 400;
  font-size: 18pt;
  color: #222222;
  text-decoration: none !important;
}

a:hover {
  color: #222222;
}

a.subtle-link {
  font-size: 16px;
  font-weight: 700;
  color: #4C956C;
  text-decoration: none;
}

button {
  background-color: #4C956C;
  padding: 16px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 18px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 12px 0px rgba(34, 34, 34, 0.2);
}

button.secondary {
  padding: 8px;
  font-size: 18px;
  display: inline;
  margin-top: 12px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
}

button:active {
  outline: none;
}

button:hover {
  opacity: 80%;
}

button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

i {
  color: white;
  padding-right: 12px;
}

li {
  list-style: none;
}

span {
  font-size: 14px;
  color: gray;
}

.card {
  border: none;
  box-shadow: 0px 2px 12px 0px rgba(34, 34, 34, 0.05);
}

.card-footer {
  background: white;
  border: none;
  margin-top: -32px;
  padding-bottom: 32px;
}

#responsive-card-spacing {
  margin-bottom: 48px;
}

.corporate {
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 20px;
  opacity: 0.5;
  margin-top: 12px;
}

.corporate:hover {
  opacity: 1.0;
}

.footer {
  overflow: hidden;
  margin-bottom: 24px;
}

.intro-subcopy {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 16px;
  text-align: left;
}

.label-chip {
  display: inline-block;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  border-radius: 0px 16px 0px 16px;
  background-color: #E3D7A8;
  margin-right: 12px;
}

.navbar {
  font-weight: 400;
  border-bottom: 1px solid #D5D5D5;
  background-color: #f2f2f2;
  padding-top: 20px;
  margin-bottom: 48px;
  text-align: center;
  padding-left: 5%;
}

.pfp {
  border-radius: 20px;
  margin-right: 12px;
}

.principles {
  text-align: center;
  background-color: #FBFBFB;
  border-radius: 16px;
  padding-top: 48px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
}

.row {
  display: flex;
  align-items: center;
}

#responsive-row-spacing {
  margin-bottom: 12px;
}

.standalone-icon {
  color: gray;
}

.standalone-icon:hover {
  opacity: 50%;
}
